# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/node/src/main/resources/application.properties
/src/test/resources/application.properties
/target/classes/application.properties
